---
import { getEntries } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import * as homeContent from "./home.md";
import Image from "astro/components/Image.astro";
import HomeHero from "../components/HomeHero.astro";

const bandSlugs = homeContent.frontmatter.bands;

const bands = await getEntries(
  bandSlugs.map((slug: string) => ({ collection: "bands", slug }))
);

const bandsWithContent = await Promise.all(
  bands.map(async band => {
    const { Content } = await band.render();
    return { ...band, Content };
  })
);

console.log(homeContent.frontmatter);
---

<Layout>
  <Header />
  <HomeHero
    title={homeContent.frontmatter.title}
    date={homeContent.frontmatter.date}
    image={homeContent.frontmatter.image}
    link={homeContent.frontmatter.ticketlink}
  />
  <main id="main-content">
    <section id="bands">
      <div class="container">
        <h2>Bands</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
          {
            bandsWithContent.map(band => (
              <div class="card" data-aos="fade-up">
                <figure class="rounded-xl w-auto h-[300px]">
                  <Image
                    src={band.data.image}
                    alt={band.data.bandname}
                    class="w-full h-full object-cover object-top"
                    width={200}
                    height={200}
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">{band.data.bandname}</h2>
                  <band.Content />
                  <div class="card-actions w-full">
                    <button class="btn btn-primary btn-wide">More</button>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
